[submodule "cactus"]
	path = cactus
	url = git@github.com:petebachant/CACTUS.git
[submodule "cactus-tools"]
	path = cactus-tools
	url = git@github.com:petebachant/CACTUS-tools.git
[submodule "RM2-tow-tank"]
	path = RM2-tow-tank
	url = git@github.com:UNH-CORE/RM2-tow-tank.git
